{% extends 'Booking/common.html' %}

{% block content %}
<div class="search-container">
    <h1>Search Venues</h1>
    <div class="search-by-type">
        <form id="search-form" method="GET">
            <div class="search-bar">
                <input type="text" id="search-bar" name="search" placeholder="Search for venues..." autocomplete="off">
                <button type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#000000"><path d="M792-120.67 532.67-380q-30 25.33-69.64 39.67Q423.39-326 378.67-326q-108.44 0-183.56-75.17Q120-476.33 120-583.33t75.17-182.17q75.16-75.17 182.5-75.17 107.33 0 182.16 75.17 74.84 75.17 74.84 182.27 0 43.23-14 82.9-14 39.66-40.67 73l260 258.66-48 48Zm-414-272q79.17 0 134.58-55.83Q568-504.33 568-583.33q0-79-55.42-134.84Q457.17-774 378-774q-79.72 0-135.53 55.83-55.8 55.84-55.8 134.84t55.8 134.83q55.81 55.83 135.53 55.83Z"/></svg></button>
            </div>
        </form>
        <button id="openFilterMenuBtn"><svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#000000"><path d="M440-160q-17 0-28.5-11.5T400-200v-240L163.33-742q-14.33-18-4.16-38 10.16-20 32.83-20h576q22.67 0 32.83 20 10.17 20-4.16 38L560-440v240q0 17-11.5 28.5T520-160h-80Zm40-286.67 226-286.66H254l226 286.66Zm0 0Z"/></svg></button>
        <div id="filterMenu" class="search-by-filter"> 
            <a href="javascript:void(0)" class="closebtn" id="closeFilterMenuBtn">&times;</a>
            <form id="filter-form" name="filter" method="GET">
                <div class="filters">
                    <h3>Filters</h3>
                    <div class="filter">
                        <label for="baseprice">Base Price:</label>
                        <input type="number" id="baseprice" name="baseprice" placeholder="Enter maximum price">
                    </div>
                    <div class="filter">
                        <label for="city">City:</label>
                        <input type="text" id="city" name="city" placeholder="Enter city">
                    </div>
                    <div class="filter">
                        <label for="state">State:</label>
                        <input type="text" id="state" name="state" placeholder="Enter state">
                    </div>
                </div>
                <button type="submit">Apply Filters</button>
            </form>
        </div>
        
</div>
</header>
{% endblock content %}
