/* General styles */
* {
    font-family: monospace, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

a {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: antiquewhite;
}

.navbar {
    background-color: #f1cfcb;
    display: flex;
    width: 100%;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

#navbar-logo {
    width: 70px;
    height: 70px;
    padding: 10px 30px;
}

.left-navbar {
    display: flex;
    width: 100%;
    gap: 10px;
    justify-content: baseline;
    align-items: center;
    margin-right: auto;
}

.right-navbar {
    display: flex;
    width: 100%;
    gap: 10px;
    justify-content: end;
    align-items: center;
    margin-left: auto;
    padding-right: 20px;
}

.right-navbar > div > a > button:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Profile, login, and cart icons */
.profile-btn-icon:hover,
.login-btn-icon:hover,
.cart-btn-icon:hover {
    padding: 8px;
    border-radius: 18px;
    background-color: white;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
}

.cart-btn-icon {
    padding: 4px;
}

.nav-btn:hover {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 10px;
}

/* Main page layout */
.mainpage {
    text-align: center;
    height: 100%;
}

.banner {
    background-color: red;
    height: 25%; /* Takes up 25% of the page height */
    width: 100%;
}

.img-slideshow {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slide {
    width: 100%;
    height: 100%;
    display: none;
    transition: opacity 1s;
}

.active {
    display: block;
}

/* About Us section */
.about-us {
    background-color: lightblue;
    height: 25%; /* Takes up the next 25% of the page height */
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.about-us p {
    margin: 0;
}

/* Reviews section */
.reviews {
    background-color: lightgreen;
    height: 25%; /* Takes up the next 25% of the page height */
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.reviews p {
    margin: 0;
}

/* Book Now section */
.book-now {
    background-color: lightcoral;
    height: 25%; /* Takes up the remaining 25% of the page height */
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.book-now p {
    margin: 0;
}
