<!DOCTYPE html>
<html>
    {% load static %}
    {% load socialaccount %}
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{% static 'Accounts/CSS/profile_CS.css'%}" />
    </head>
    <body>
        <div class="navbar">
            <a href="{% url 'mainpage:mainpage'%}"><img id="navbar-logo" src="{% static 'Accounts/IMAGES/ayojan-logo1.png'%}" alt="logo"></a>
        </div>
        <div>
            <span>Username :</span>
            <form action="{% url 'Accounts:change_pass' %}" method="POST">
                {% csrf_token %}
                    <div id="username">
                        Current : {{user.username}}
                    </div>
                </div>
                <div id="name">
                    <div>
                        <span>New Password</span>
                        <div id="username">
                            <div id = "username">
                                    <input name="Password" type="text">
                            </div>
                        </div>
                        <span>Comfirm Password</span>
                        <div id="username">
                            <div id = "username">
                                    <input name="CONFIRM_PASSWORD" type="text">
                            </div>
                        </div>
                    </div>

                <button id="submit-button" type="submit">Change</button>
            </form>        
    </body>        
</html>