<!DOCTYPE html>
<html>
    {% load static %}
    {% load socialaccount %}
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{% static 'Accounts/CSS/profile_CS.css'%}" />
    </head>
    <body>
        <div class="navbar">
            <a href="{% url 'mainpage:mainpage'%}"><img id="navbar-logo" src="{% static 'Accounts/IMAGES/ayojan-logo1.png'%}" alt="logo"></a>
        </div>
        <div>
            <span>Username :</span>
            <form method="POST">
                {% csrf_token %}
                    <div id="username">
                        {{user.username}}
                        <div id = "username">
                                <input name="password" type="password">
                        </div>
                    </div>

                <button id="submit-button" type="submit">Submit</button>
            </form>        
    </body>        
</html>